body{
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

/*---------------
 Header 
 ------------*/

.name{
    margin-left: 15px;
    margin-bottom: 70px;
    overflow: hidden;
}
.name:hover{
    transform: scale(1.3);
    background-color: lightsalmon;
    width: 145px;
    border-radius: 10px;
}

/*---------------
 Start your Journey 
 ------------------*/

.influencer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.start-journey{
    margin-left: 10px;
    margin-right: 50px;
}
.highlight{
    color: rgb(250, 100, 250);
    font-weight: 500px;
}
.main-cam{
    margin-left: 150px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    
}
/*-----------
 Link Button 
 -----------*/

.design{
    background-color:#E02C6D;
    border-radius: 5px;
    color: mintcream;
    text-decoration: none;
    font-weight: 700;
}
 
/*----------------- 
Logo Section 
-----------------*/

.logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 65px;
    
}

/*--------------------
 Popular Collection
 ---------------------*/

.section-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8%;
   
    
    
}
.collections img{
    width: 100%;
}
.collection{
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-right: 8%;
    margin-bottom: 8%;
    box-shadow: 6px 6px 20px #5E6366;
}
/*----------------
 All Star's and info
 ----------------- */

.fa-star.filled{
    color: orangered ;   
}

.fa-star.empty{
 color: rgb(184, 182, 182);   
}
.text-color{
    color: grey;
}

/*------------
 See More 
 ------------*/
.see-more{
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #E02C6D;
    text-decoration: none;
    font-weight: 700;
}
/* extra activities */
.extra{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
}

.extra img{
    width: 75%;
    height: auto;
    box-shadow: 6px 6px 20px #5E6366;
}
.color{
    color: violet;
}

/*--------------
 footer 
 ------------*/
.footer-center{
    text-align: center;
    color: whitesmoke;
    background-color:#0A0826;
}

/*---------------
 Media Query 
 ---------------*/

 /* For Mobile */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .name,.influencer,.logos,.collections,.extra,.footer-center{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
    .collection{
        flex-direction: column;
    }
  
}
/*---------------
 Tablet Device 
 ---------------*/
 @media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .collections{
       grid-template-columns: repeat(2, 1fr);
    }
 }

/*-----------------------------------------------------------------------------------------------------------------
                                              This is End   
 -----------------------------------------------------------------------------------------------------------------*/


